* {
    padding: 0;
    margin: 0;
  }
  body {
    background-image: url("../images/stadium.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }

/**************************************< NAV CSS STARTS*******************************************/

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  text-align: center;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;  
  list-style: none;       
  color: #efcf5a;
  font-size: 17px;
  border-radius: 3px;
  text-transform: uppercase;
}
/************************************ NAV BAR ENDS************************************************* */