* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
  }
  body {
    background-image: url("../images/stadium.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }

/**************************************< NAV CSS STARTS*******************************************/

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  text-align: center;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {     
  color: #efcf5a;
  font-size: 17px;
  border-radius: 3px;
  text-transform: uppercase;
}
/************************************ NAV BAR ENDS************************************************* */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
}
/* HOME SCREEN BALL ANIMATION */                  
.animated-football {
  width: 20%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin-top: 10.25rem;
  padding-bottom: 20px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  } 
}


/********************************<START GAME MODAL CSS STARTS>************************************ */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px; 
  
}
.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #234485;
  border-radius: 35px;
  text-transform: uppercase;
  color: #ffffff; 
  font-family: "Roboto", sans-serif;
}