* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  body {
    background-image: url("../images/stadium.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }
  .club-img{
    background-color: #234485;
    width: 60px;
  }

  h3{
    color: #efcf5a;
    text-align: center;
  }
  .site-header{
    font-size: 45px;
    color: #efcf5a;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

/************************************** NAV CSS STARTS*******************************************/

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  text-align: center;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {     
  color: #efcf5a;
  font-size: 17px;
  border-radius: 3px;
  text-transform: uppercase;
}
/************************************ NAV BAR ENDS************************************************* */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/********************************<START GAME MODAL CSS STARTS>************************************ */
/* https://codepen.io/denic/pen/ZEbKgPp was used as inspiration for the game modals.  */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px; 
  
}
.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #234485;
  border-radius: 35px;
  text-transform: uppercase;
  color: #ffffff; 
  font-family: "Roboto", sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal_content {
  border-radius: 4px;
  position: relative;
  width: 423px;
  max-width: 90%;
  background: #234485;
  padding: 2em 2em;
  color: #ffffff;
  line-height: 20px;
  border: 2px solid #f34e4eeb;
  margin: 100px;
}
.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  text-decoration: none;
}
/********************************GAME DIFFICULTY SETTINGS CSS STARTS HERE ***********************/

.game-diffculty-radiobtn{
  background-color: #234485;
  width: 350px;
  height: 250px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid darkblue;

}

.difficulty-title {
  font-size: 28px;
  text-align: center;
  margin: 40px;
  color: #efcf5a;
}
.difficulty {
  display: flex;
  justify-content: space-around;
  color: #efcf5a;
  padding: 25px 0px 0px 0px;
  margin: 30px 3px 34px 31px;
  width: 260px;
  margin: 20px 0 0 60px;
}
.difficulty a {
  color: #ffffff;
  padding: 10px 30px 12px 15px;
  margin: 10px;
  background-color: #2e95cf;
  border-radius: 4px;
  font-size: 13px;
  border: 2px solid #f34e4eeb;
}

/********************************* GAME DIFFICULTY SETTINGS CSS ENDS HERE ************************* */

/********************************< ABOUT GAME MODAL CSS STARTS>************************************ */
.aboutgame_content {
  border-radius: 4px;
  position: relative;
  width: 423px;
  height: 450px;
  max-width: 90%;
  background: #234485;
  padding: 2em 2em;
  color: #ffffff;
  line-height: 25px;
  border: 2px solid darkblue;
  margin: 35px;

}
.aboutgame-title{
  font-size: 15pt;
  color: #efcf5a;
  text-align: center;
  margin-bottom: 25px;
}
.aboutgame-text{
  line-height: 30px;
  text-align: inherit;
}
/********************************< ABOUT GAME MODAL CSS ENDS>************************************ */


/********************************<  HOW TO PLAY MODAL CSS STARTS>************************************ */
.gamerules_content {
  border-radius: 10px;
  position: relative;
  width: 250px;
  max-width: 90%;
  background: #234485;
  padding: 2em 2em;
  color: #ffffff;
  border: 2px solid darkblue;
  height: 550px;
}
.howToPlay-logo{
  width: 50px;
}

/********************************<  HOW TO PLAY  MODAL CSS ENDS>************************************ */

/***************************************FOOTER CSS STARTS********************************* */
.copyright {
  color: #efcf5a;
  text-align: center;
  padding: 20px;
  background-color: #00153d;
  margin-top: 240px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 360px; 
}

/***************************************FOOTER CSS ENDS********************************* */

.hide{
  display: none;
}

#grid{
 width: 250px; 
 display: flex;
 flex-wrap: wrap;
 margin: auto;
 margin-top: 60px;
}
#score{
  color: #efcf5a;
  text-shadow: 1.5px 1.5px black;
}

/*************************************** MEDIA QUERIES FOR MOBILE, TABLETS AND DESKTOPS ********************************* */

@media only screen and (min-width: 375px) and (min-width: 768px) {
  nav ul li a {     
    color: #efcf5a;
    font-size: 23px;
  }
  .site-header{
    font-size: 80px;
  }
  #score{
    font-size: 30px;
  }
  .game-diffculty-radiobtn{
    width: 500px;
    height: 365px;
    margin: 0 auto;
  }

  .difficulty-title {
    font-size: 40px;
  
  }
  .difficulty {
    margin: 0 auto;
    font-size: 20px;
  }
  .difficulty label{
    padding: 0px 41px 0px;
    font-size: 30px;
  }

  .wrapper a {
    padding: 32px;
    font-size: 20px;
  }
  .copyright {
    width: 735px;
    font-size: 20px;
  }

  .club-img{
    width: 110px;
    margin: 0 auto;
  }
 
}
@media only screen and (min-width: 1024px){
  #grid{
    width: 810px; 
   }
  .site-header{
    font-size: 70px;
  }
  .game-diffculty-radiobtn{
    width: 460px;
    height: 300px;
  }
  .difficulty-title {
    font-size: 25px;
  }
  .difficulty label{
    font-size: 20px;
  }
  .wrapper a {
    padding: 20px;
  }
  .copyright {
    width: 990px;
  }
  .club-img{
    width: 100px;
  }
  .gamerules_content {
    width: 570px;
    height: 420px;
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1440px){
  #grid{
    width: 810px; 
   }
  .copyright {
    width: 1415px;
  }
  .club-img{
    width: 100px;
  }
  
}
@media only screen and (min-width: 1920px) {
  #grid{
    width: 810px; 
   }
  .copyright {
    width: 1900px;
  }
  .club-img{
    width: 100px;
  }
  .gamerules_content {
    width: 570px;
  }
}
